body{
    background-color:burlywood;
}

svg {
    background-color: bisque;
    color: cornflowerblue;
    fill:blue;
}
svg {
    color:blue;
    fill:blue;
}
object{
    background-color: bisque;
    
}